@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Molle:400i');



.title-header {
  font-size: 165px;
  color: slategray;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 40px;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 7px rebeccapurple;
  animation: slideInY 1.0s ease 0s 1 normal; 
  animation-fill-mode: forwards;
}

@keyframes slideInY {
  0% {
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(0px);
  }
  

}

.fas .fa-bolt {
  font-size: 20px
}


@media screen and (max-width:778px) {
  .title-header {
    font-size: 80px;
  }
}

@media screen and (max-width:385px) {
  .title-header {
    font-size: 50px;
  }
}