.solution-image {
  height: 500px;
  width: 750px;
  margin-left: 46px;
  margin-right: 20px;
  margin-bottom: 35px;
}

.individual-card {
  border:solid black;
  border-radius: 25px;
  margin-bottom: 60px;
  width: 850px;
  animation: slideInX 3.5s ease 0s 1 normal; 
  animation-fill-mode: forwards;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx_FVYfREyzYPsYobXZuXpXKIzu08n5owpMeno-LIjtyMcg8cG");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .9;
}


.card-name {
  font-size: 55px;
  margin-top: 29px;
  margin-bottom: 25px;
  text-align: center;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: .05em;

}

.card-prompt {
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
  border:solid black 2px;
  border-radius:25px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 25px;
  margin-bottom: 50px;
}

.level-and-category {
  display: flex;
  justify-content: center;
}

.card-category {
  margin-right: 35px;
  font-size: 45px;
  font-family: 'Indie Flower', cursive;
}

.card-level{
  margin-left: 35px;
  font-size: 45px;
  margin-bottom:20px;
  font-family: 'Indie Flower', cursive;

}

.repl-link {
  text-align: center;
  margin-bottom: 30px;
}

.link {
  display: flex;
  justify-content: center;
}


.card-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 25px;
}


.save-to-storage-btn {
  height: 100px;
  width: 180px;
  border-radius: 50px;
  background-image:url("https://wallpapercave.com/wp/gfwPusm.jpg");
  color: white;
  border:solid 4px white;
  font-size: 18px;
}

.see-solution-btn {
  height: 100px;
  width: 180px;
  border-radius: 50px;
  background-image:url("https://wallpapercave.com/wp/gfwPusm.jpg");
  color:white;
  border:solid 4px white;
  font-size: 18px;
}

.see-solution-btn:hover {
  background-image: linear-gradient(purple, red, pink);
  color: black;
  opacity: .7;
}

.save-to-storage-btn:hover {
  background-image: linear-gradient(purple, red, pink);
  color: black;
  opacity: .7;
}

/* .card-button {
  height: 100px;
  width: 180px;
  border-radius: 50px;
  background-image:url("https://wallpapercave.com/wp/gfwPusm.jpg");
  color:white;
  border:solid 4px white;
  font-size: 18px;
} */