@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Molle:400i');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Molle:400i');


.card-container {
  margin:0 auto;
  width: 800px;
  background-image:url("https://wallpapercave.com/wp/gfwPusm.jpg");

}

.bottom-page {
  background-image:url("https://wallpapercave.com/wp/gfwPusm.jpg");
}

